.container {
  background-color: #FAA9BA;
  width: 100%;
  height: 969px;
  margin: 0;
}
.header {
  
  width: 100%;
  height: 150px;
  margin: 0;
}
.Body {
  
  width: 100%;
  height: 819px;
}
.leftheader {
    
    width: 50%;
    height: 100%;
    float: left;
}
.rightheader {
    
    width: 50%;
    height: 100%;
    float: left;
}
.leftbody {
    
    width: 50%;
    height: 100%;
    float: left;
    
}
.rightbody {
    
    width: 50%;
    height: 100%;
    float: left;
    
}
.blockheader {
    margin-left: 3%;
    margin-top: 0px;
    font-size: 60px;
    padding-top: 25px;
    text-align: center;
    border: 1px solid #111;
    width: 90%;
    height: 70%;
    color: rgb(255, 255, 255);
    background-color: #F79B8F;

}

.headerbutton {
    color:aliceblue;
    padding: 20px 30px;
    font-size: 25px;
    border-radius: 15px;
    border: 1px solid #000;
}
