<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/stocksheets.css" />
  </head>
  <body style="margin: 0px">
    <div class="container">
      <div class="header">
        <div class="leftheader">
          <div style="color: #CAFDEE; font-size: 15px">0</div>
          <p class="blockheader">Check Stock</p>
        </div>
        <div class="rightheader">
          <p style="font-size: 12px; color: #CAFDEE">0</p>
          <a href="/"
            ><button
              class="headerbutton"
              style="background-color: #A6EBFA; margin-left: 130px;color: #000;"
            >
              Main Menu
            </button></a
          >
          <a href="/make_Order"
            ><button
              class="headerbutton"
              style="background-color: #8AE3DB; margin-left: 50px;color: #000;"
            >
              Make Order
            </button></a
          >
          <a href="/history_Sale"
            ><button
              class="headerbutton"
              style="background-color: #9AFDD8; margin-left: 50px;color: #000;"
            >
              History Sale
            </button></a
          >
        </div>
      </div>
      <div class="Body">
        <div
          style="
            margin-top: 20px;
            margin-left: 45px;
            background-color: #FBE6DB;
            width: 95%;
            height: 95%;
          "
        ></div>
      </div>
    </div>
  </body>
</html>
