<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/bodysheets.css" type="text/css">
    </style>
  </head>
  <body style="margin: 0px">
    <div class="container">
      <div class="header">
        
      </div>
      <div class="Body" style="background-image: url('img/main/3.png');">
        <div class="bodyleft" >
          <center>
      <img src="/img/main/1.png" style="margin-top: 90px;">
          </center>
        </div>
        <div class="bodycenter" align=center>
          <a href="/make_Order"><button class="bodybutton" style="background-color:#F79B8F; margin-top:140px;">Make order</button></a>
          <br>
          <a href="/check_Stock"><button class="bodybutton" style="background-color:#F79B8F;margin-top:50px;">Check stock</button></a>
          <br>
          <a href="/history_Sale"><button class="bodybutton" style="background-color:#F79B8F;margin-top:50px;">History sale</button></a>
        </div>
        <div class="bodyright">
          <center>
          <img src="/img/main/2.png" style="margin-top: 90px;">
        </center>
        </div>
        
      </div>
      <div class="footer"></div>
    </div>
  </body>
</html>
