<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    
    <div class="container">
      <p style="font-size: 75px;text-align: center">Main</p>
      <a href="/make_Order"><button>Make order</button></a>
      <a href="/check_Stock"><button>Check stock</button></a>
      <a href="/history_Sale"><button>History sale</button></a>
      
    </div>
  </body>
</html>
