<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/ordersheets.css" />
  </head>
  <body style="margin: 0px">
    <div class="container">
      <div class="header">
        <div class="leftheader">
          <div style="color: #faa9ba; font-size: 15px">0</div>
          <p class="blockheader">Make Order</p>
        </div>
        <div class="rightheader">
          <p style="font-size: 12px; color: #faa9ba">0</p>
          <a href="/"
            ><button
              class="headerbutton"
              style="background-color: #fdbca9; margin-left: 130px;color: #000;"
            >
              Main Menu
            </button></a
          >
          <a href="/check_Stock"
            ><button
              class="headerbutton"
              style="background-color: #e39e98; margin-left: 50px;color: #000;"
            >
              Check Stock
            </button></a
          >
          <a href="/history_Sale"
            ><button
              class="headerbutton"
              style="background-color: #fab3c3; margin-left: 50px;color: #000;"
            >
              History Sale
            </button></a
          >
        </div>
      </div>
      <div class="Body">
        <div class="leftbody">
          <div
            style="
              margin: 20px;
              background-color: #facacb;
              width: 95%;
              height: 95%;
            "
          ></div>
        </div>
        <div class="rightbody">
          <div
            style="
              margin: 20px;
              background-color: #facacb;
              width: 95%;
              height: 95%;
            "
          ></div>
        </div>
      </div>
    </div>
  </body>
</html>
