<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/ordersheets.css" />
    
    
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
    
  </head>
  <body style="margin: 0px">
    <div class="container">
      <div class="header">
        <div class="leftheader">
          <div style="color: #faa9ba; font-size: 15px">0</div>
          <p class="blockheader">Make Order</p>
        </div>
        <div class="rightheader">
          <p style="font-size: 12px; color: #faa9ba">0</p>
          <a href="/"
            ><button
              class="headerbutton"
              style="background-color: #fdbca9; margin-left: 130px; color: #000"
            >
              Main Menu
            </button></a
          >
          <a href="/check_Stock"
            ><button
              class="headerbutton"
              style="background-color: #e39e98; margin-left: 50px; color: #000"
            >
              Check Stock
            </button></a
          >
          <a href="/history_Sale"
            ><button
              class="headerbutton"
              style="background-color: #fab3c3; margin-left: 50px; color: #000"
            >
              History Sale
            </button></a
          >
        </div>
      </div>
      <div class="Body">
        <div class="leftbody">
          <div
            style="
              margin: 20px;
              background-color: #facacb;
              width: 95%;
              height: 95%;
            "
          >
            <center>
              <pre> </pre>
              <div
                style="
                  border-radius: 25px;
                  height: 140px;
                  width: 70%;
                  background-color: #f5ebeb;
                  margin-top: 10px;
                "
              >
                <pre style="font-size: 1px"> </pre>
                <p style="margin-top: 10px; font-size: 30px">Menu</p>
                <select
                  align="center"
                  style="
                    font-size: 18px;
                    background-color: #e7e2e3;
                    width: 350px;
                    height: 40px;
                  "
                >
                  <option>ชานมไต้หวัน</option>
                  <option>ชาเขียว</option>
                  <option>โกโก้</option>
                  <option>นมสด</option>
                  <option>ชาดำ</option>
                  <option>กาแฟ</option>
                  <option>ช็อกโกแลต</option>
                  <option>ช็อกโกแลตมิ้น</option>
                  <option>นมสตอเบอรี่</option>
                  <option>ชานมมันม่วง</option>
                </select>
              </div>
              <br />
              

              <div
                style="
                  border-radius: 25px;
                  height: 140px;
                  width: 70%;
                  background-color: #f5ebeb;
                "
              >
                <pre style="font-size: 1px"> </pre>
                <p style="margin-top: 10px; font-size: 30px">Topping</p>
                <select
                  align="center"
                  style="
                    font-size: 18px;
                    background-color: #e7e2e3;
                    width: 350px;
                    height: 40px;
                  "
                >
                  <option>ไม่ใส่</option>
                  <option>ไข่มุก</option>
                  <option>เจลลี่บุก</option>
                  <option>ครีมสด</option>
                  <option>ครีมชีส</option>
                  <option>คอนเฟรก</option>
                  <option>ฟรุตสลัด</option>
                </select>
              </div>
              <br />
              

              <div
                style="
                  border-radius: 25px;
                  height: 140px;
                  width: 70%;
                  background-color: #f5ebeb;
                "
              >
                <pre style="font-size: 1px"> </pre>
                <p style="margin-top: 10px; font-size: 30px">Tumblr Size</p>
                <select
                  align="center"
                  style="
                    font-size: 18px;
                    background-color: #e7e2e3;
                    width: 350px;
                    height: 40px;
                  "
                >
                  <option>เล็ก(S)</option>
                  <option selected>กลาง(M)</option>
                  <option>ใหญ่(L)</option>
                </select>
              </div>
              <br />
              

              <div
                style="
                  border-radius: 25px;
                  height: 140px;
                  width: 70%;
                  background-color: #f5ebeb;
                "
              >
                <pre style="font-size: 1px"> </pre>
                <p style="margin-top: 10px; font-size: 30px">Level of sweetness</p>
                <select
                  align="center"
                  style="
                    font-size: 18px;
                    background-color: #e7e2e3;
                    width: 350px;
                    height: 40px;
                  "
                >
                  <option>หวานน้อย</option>
                  <option selected>หวานปานกลาง</option>
                  <option>หวานมาก</option>
                </select>
              </div>

              <button class="headerbutton" style="margin-top: 50px;padding: 15px 30px;font-size:20px;background-color:#fab3c3;color: #000;">Preview</button>

            </center>
          </div>
        </div>

        <div class="rightbody">
          <div
            style="
              margin: 20px;
              background-color: #facacb;
              width: 95%;
              height: 95%;
            "
          >
            
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
