<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/ordersheets.css"
  </head>
  <body style="margin: 0px">
    <div class="container" b>
      <div class="header">
          <div class="leftheader">
          <div style="color: #999;font-size: 7px;">0</div>
            <p class="blockheader" >Make Order</p>
          </div>
          <div class="rightheader">

          </div>
      </div>
      <div class="Body">
        <div class="leftbody">

        </div>
        <div class="rightbody">
            <p style="font-size: 75px; text-align: center;margin:0px;">Make order</p>

            <a href="/">Back</a>
        </div>
        
      </div>
      <div class="footer">

      </div>
    </div>
  </body>
</html>
