<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/ordersheets.css"
  </head>
  <body style="margin: 0px">
    <div class="container" b>
      <div class="header">
          <div class="leftheader">
          <div style="color: #999;font-size: 7px;">0</div>
            <p class="blockheader" >Make Order</p>
            
          </div>
          <div class="rightheader">
              <p style="font-size: 12px;">0</p>
            <a href="/"><button class="headerbutton" style="background-color:#F79B8F;margin-left: 130px;">Main Menu</button></a>
            <a href="/check_Stock"><button class="headerbutton" style="background-color:#F79B8F;margin-left: 50px;">Check Stock</button></a>
            <a href="/history_Sale"><button class="headerbutton" style="background-color:#F79B8F;margin-left: 50px;">History Sale</button></a>
          </div>
      </div>
      <div class="Body">
        <div class="leftbody">
            
        </div>
        <div class="rightbody">
            <p style="font-size: 75px; text-align: center;margin:0px;">Make order</p>

            <a href="/">Back</a>
        </div>
        
      </div>
      
    </div>
  </body>
</html>
